<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button 
                    (click)="sidenav.toggle()" >
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a href="heroes/listado" 
                    mat-list-item
                    (click)="sidenav.toggle()">
                <mat-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a href="heroes/agregar" 
                    mat-list-item
                    (click)="sidenav.toggle()">
                <mat-icon>add</mat-icon>
                <span>Añadir Héroes</span>
            </a>
            <a href="heroes/buscar" 
                    mat-list-item
                    (click)="sidenav.toggle()">
                <mat-icon>search</mat-icon>
                <span>Buscar Héroes</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <!-- Body -->
    
    <mat-toolbar>
        <button mat-icon-button 
                (click)="sidenav.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>

        <span>{{ auth.usuario }}</span>

        <button mat-button
                (click)="logout()">
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>